#news-body{
	width: 90%;
	float: right;
}
.news-body-title{
	font-size: 2.2vmax;
	color: #7B1113;
	font-weight: 900;
}
.news-body-date{
	font-size: 1.2vmax;
	color: #7B1113;
	font-weight: 900;
	margin-bottom: 1vmax;
}

.news-img{
	width: 100%;
	height: 100%;
	margin: 0.5vmax 0 0.5vmax 0;
}
#news-body p{
	margin: 0;
	text-align: justify;
	font-size: 1.2vmax;
}
@media screen and (orientation:portrait) {
    #news-body{
    	width: 100%;
    }
 }