html {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}

body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header{
	height: 300px;
	width: 100%;
	background: -webkit-linear-gradient(left, #7B1113 , #014421); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #7B1113 , #014421); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #7B1113 , #014421); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #7B1113 , #014421); /* Standard syntax */
  	padding-top: 40px;
  	border-bottom-left-radius: 30em 3em;
  	border-bottom-right-radius: 30em 3em;
}

#header_up{
	margin: 0 auto;
	display: table;
	color: #FFF;
	font-size: 2em;
}

#updlogo, #surplogo { 
	height: 80px;
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
}